# Ignore virtual environment folders
venv/
bin/
lib/
lib64/
include/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database or temp files
*.db

# VS Code or IDE specific (optional)
.vscode/
.idea/
